@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background: url(bg.png) no-repeat;
  background-size: cover;
  color: #8e9297;
  line-height: 10px;
}

.login-box {
  width: 781px;
  height: 360px;
  background-color: #36393f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 25px;
}

.register-box {
  width: 400px !important;
  padding: 1rem;
  height: fit-content !important;
}

.login-ic-box {
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.sol-box {
  width: 450px;
}
.register-box > h2 {
  text-align: center;
}

.sol-box h2 {
  color: #fff;
}

.sol-box span {
  color: #72767d;
}

.form-box {
  font-size: 16px;
}

.form-box h5 {
  margin-bottom: 1rem;
}

.sol-box input,
.sol-box select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  background-color: #303338;
  border: 1px solid #212327;
  padding: 13px;
  color: #dcddde;
}

.sol-box select {
  width: 30% !important;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
  -webkit-appearance: none;
}
.sol-box select:focus-visible,
.sol-box input:focus-visible {
  outline: none;
}

.forgot {
  color: #00aff4;
  margin-top: 10px;
  font-size: 14px;
}

.reg {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.login-button {
  text-align: center;
  background-color: #5865f2;
  padding: 15px;
  width: 100%;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}

.register {
  color: #72767d;
  font-size: 14px;
  line-height: 40px;
}

.terms,
.terms a {
  font-size: 10px;
}

.sag-box h2 {
  color: white;
}

.sag-box {
  right: 10px;
  width: 250px;
  text-align: center;
  line-height: 20px;
}

.dob {
  display: flex;
  justify-content: space-between;
}

.check {
  display: inline-flex;
  margin: 0.5rem 0;
  line-height: 1.5;
}

.mt-2 {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: auto;
  }
  .sag-box {
    display: none;
  }
  .register-box {
    width: 80% !important;
  }
  .login-box {
    width: 80%;
  }
}
