@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background: url(bg.png) no-repeat;
  background-size: cover;
  color: #b9bbbe;
  line-height: 10px;
}

.login-box {
  width: 770px;
  height: 360px;
  background-color: #36393f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 25px 8px;
  padding-bottom: 32px !important;
}

.register-box {
  width: 450px !important;
  padding: 0.5rem 1rem !important;
  height: fit-content !important;
}

.login-ic-box {
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.sol-box {
  width: 450px;
}
.register-box > h2 {
  text-align: center;
}

.sol-box h2 {
  color: #fff;
  font-weight: 600;
}

.sol-box span {
  color: #b9bbbe;
  font-size: 12px;
}

.form-box {
  font-size: 16px;
  margin-top: 2rem;
}

.form-box h5 {
  margin-bottom: 0.8rem;
  font-size: 12px;
}

.sol-box input,
.sol-box select {
  box-sizing: border-box;
  width: 90%;
  border-radius: 4px;
  background-color: #303338;
  border: 1px solid #212327;
  padding: 13px;
  color: rgb(114, 118, 125);
}

.register-box input,
.register-box button {
  width: 100% !important;
}

.sol-box select {
  width: 30% !important;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}
.sol-box select:focus-visible,
.sol-box input:focus-visible {
  outline: none;
}

.forgot {
  color: #00aff4;
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 1rem;
}

.reg {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.login-button {
  text-align: center;
  background-color: #5865f2;
  padding: 15px;
  width: 90%;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}

.register {
  color: #72767d !important;
  font-size: 12px;
  line-height: 40px;
}

.terms,
.terms a {
  font-size: 10px;
}

.sag-box h2 {
  color: white;
}

.sag-box {
  right: 10px;
  width: 240px;
  text-align: center;
  line-height: 20px;
}

.dob {
  display: flex;
  justify-content: space-between;
}

.check {
  display: inline-flex;
  margin: 0.5rem 0;
  line-height: 1.5;
}

.mt-2 {
  margin-top: 1rem;
}

strong {
  font-weight: 600;
}

.light-wght {
  font-weight: lighter;
  color: #b9bbbe;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .sag-box {
    display: none;
  }
  .register-box {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding-top: 1rem !important;
  }
  .login-box {
    overflow: hidden;
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding-top: 40px;
  }
  .mobile-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sol-box {
    margin: 1rem;
  }

  .sol-box input,
  .sol-box button {
    width: 100%;
  }
  .sol-box span {
    font-size: 14px;
  }
  .register-box > h2 {
    margin-top: 6.6rem;
  }

  .sol-box h2 {
    margin-top: 6.6rem;
  }
}
